/** {
  padding: 0;
  margin: 0;
}*/

* {
  font-weight: normal;
}
img {
  height: 100%;
  width: auto;
}

.material-icons {
  color: #5E5E5E;
}
.nav-wrapper {
  background-color: #fafafa;
  color: #000;
}

.nav-wrapper ul li a {
  color: #5E5E5E;
}

.brand-logo img{
  padding: 10px 10px 0 10px;
  width: 80%;
}

.col.m12.l8, .col.s12.m6.l4 {
  margin: 0;
}

.card-title {
  line-height: 10px;
}

#tile1 {
  width: 100%;
  min-height: 600px;
  position: relative;
}

#card1 {
  position: absolute;
  top: 30%;
}

#tile2, #tile3 {
  width: 100%;
  height: 100%;
}
