img {
  height: 100%;
  width: auto;
}


.nav-wrapper {
  background-color: #fafafa;
  color: #000;
}

.nav-wrapper ul li a {
  color: #5E5E5E;
}

.brand-logo img{
  padding: 10px 10px 0 10px;
  width: 80%
}

#tile1 {
  width: 100vw;
  min-width: 700px;
}
